# Ignore everything
/*

# Not these files
!.gitignore
!.p10k.zsh
!.zshrc
!README.md
!Pictures/
Pictures/*
!Pictures/wallpaper.png
!Pictures/example1.png
!Pictures/example2.png
!Pictures/example3.png


# Not these directories
!.zen/
.zen/*
!.zen/d7dj9687.Default\ \(release\)/
.zen/d7dj9687.Default\ \(release\)/*
!.zen/d7dj9687.Default\ \(release\)/prefs.js

!.config/
.config/*
!.config/hypr/
!.config/waybar/
!.config/kitty/
!.config/rofi/
!.config/nvim/
!.config/fastfetch/


